<div class="" id="login-page">
    <div class="form-box">
        <form  (ngSubmit)="onSubmit()" [formGroup]="loginForm" #userLoginForm="ngForm">
              <div class="form-group">
                    <input type="text" formControlName="userName" class="form-control box1" placeholder="User Name" [(ngModel)]="auth.userName" id="userName" name="userName"  [class.is-invalid]="userName.touched && userName.invalid" required />
                    <div class="text-danger" [class.d-none]="userName.valid || userName.untouched">User Name is required</div>
                </div>
            <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="auth.password" formControlName="password" id="password" [class.is-invalid]="password.touched && password.invalid" required/>
           
            <input type="submit" class="btn btn-social" value="LOGIN" />
            <a routerLink="/signup" class="login-action" title="Sign up">
                <p>New userName?&nbsp;Signup</p>
            </a>
        </form>
    </div>
</div>