<header>
    <div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
        <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      </div>
  <nav class="navbar navbar-expand-sm   ">
    <a class=" itransform-logo" routerLink="">ITransform</a>
    <div class="nav-box">
      <ul class="navbar-nav itransform-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="">Courses</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="login" id="loginbtn" >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup" id="signupbtn" >Signup</a>
        </li>
        <li *ngIf="user" class="nav-item dp">
          <!-- <a class="nav-link">{{user.userName}}</a> -->
          <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                {{user.userName}}
              </button>
              <div class="dropdown-menu" >
                <a class="dropdown-item"(click)="logout()" routerLink="/logout">logout</a>
              </div>
            </div>
        </li>
         
        <!-- <li class="nav-item" *ngIf="user">
          <a  class="nav-link" (click)="logout()">Logout</a>
        </li> -->
      </ul>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>

