<section class="banner">
  <div class="wrapper">
    <div class="banner-slider-container">
      <div class="overlay1"></div>
      <ul class="slider-banner">
        <li class="banner-slides">
          <figure>
            <img src="assets/images/img_bg_1.jpg" alt="Slider1">
          </figure>
          <div class="banner-content">
            <h1 class="capitalize">Best Online Learning System</h1>
            <a routerLink="signup" class="register-btn">Register Now</a>
          </div>
        </li>
        <li class="banner-slides">
          <figure>
            <img src="assets/images/img_bg_2.jpg" alt="Slider2">
          </figure>
          <div class="banner-content">
            <h1 class="capitalize">Best Online Learning System</h1>
            <a routerLink="signup" class="register-btn">Register Now</a>
          </div>
        </li>
        <li class="banner-slides">
          <figure>
            <img src="assets/images/img_bg_3.jpg" alt="Slider3">
          </figure>
          <div class="banner-content">
            <h1 class="capitalize">Best Online Learning System</h1>
            <a routerLink="signup" class="register-btn">Register Now</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>