<div class="" id="login-page"  >
  <div class="form-box">
    <form [formGroup]= "registrationForm" (ngSubmit)="registerNewUser()">
        <!-- <div class="form-group">
            <label class="form-label">Full Name: </label> 
            <input type="text" formControlName="fullname" />
        </div>
      <div class="form-group">
          <label class="form-label">Email: </label> 
          <input type="email" formControlName="email" />
      </div>
      <div class="form-group">
          <label class="form-label">Password: </label>
          <input type="password" formControlName="password" />
      </div> -->

      <input type="text" class="form-control" placeholder="User Name" formControlName="userName">
      <input type="text" class="form-control" placeholder="Full Name" formControlName="name">
      <input type="email" class="form-control" placeholder="Email Id" formControlName="email">
      <input type="number" class="form-control" placeholder="Contact" formControlName="contactNumber">
      <input type="password" class="form-control" placeholder="Password" formControlName="password" >
      <input type="submit" class="btn btn-social" value="SIGNUP">
      <a class="login-action" title="Sign in" style="cursor: pointer" routerLink="/login" >
        Have an account
      </a>
    </form>
  </div>
</div>